@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

.objective_main{
background-color: rgb(205, 204, 204);
border-radius: 30px;
text-align: center;
padding:40px 90px;
height:max-content; 
}

.objective_main h1{
    font-size: 40px;
    font-weight: 600;
    color:rgb(81,40,80);
    font-family: 'Poppins', sans-serif;
}

.objective_main p{
    margin-top: 100px;
    font-size: 20px;
    text-align: left;
    margin-bottom: 20px;
    width:600px;
    font-family: 'Poppins', sans-serif;
}
.objective_main img{
    margin-top: -500px;
    width:700px;
    margin-left:700px;
    border-radius: 100px;
    border:5px;
    border-style: solid;
    border-color: black;
  
}